<!DOCTYPE html>
<html ng-app>
<head>
    <title>My Tube</title>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/videoController.js"></script>
</head>

<body>
<div class="container" ng-controller="VideoController">
    <div class="page-header">
        <h1>My Tube</h1>
    </div>
    <div class="row controls">
        <form ng-submit="getBy()">
            <div class="span2">
                <select class="input-block-level" ng-model="formGetByData.getBy" name="id">
                    <option selected="selected" value="Category">Category</option>
                    <option value="Id">Id</option>
                </select>
            </div>
            <div class="span2"> <input class="input-block-level" ng-model="formGetByData.userInput" type="text" name="userInput" placeholder="Get video by.."></div>
            <div class="span2"><input type="checkbox" class="input-block-level" ng-model="formGetByData.sorted" name="sorted">Sort By Popularity</div>
            <div class="span2"><input type="submit" class="span2 btn btn-primary"  value="Get Video"> </div>
        </form>
    </div>
    <div class="row">
        <div class="span12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="span1">Image</th>
                <th class="span1">ID</th>
                <th class="span2">Title</th>
                <th class="span3">Description</th>
                <th class="span1">Views</th>
                <th class="span1">Likes</th>
                <th class="span1">Dislikes</th>
                <th class="span1">Category</th>
                <th class="span1">Rating</th>
                <th class="span1">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="video in videos">
                <td class="span1"><a ng-href="https://www.youtube.com/watch?v={{video.videoId}}" target="_blank"><img ng-src="{{video.videoImageUrl}}"></a></td>
                    <td class="span1" ng-bind="video.videoId"></td>
                <td class="span2" ng-bind="video.videoTitle"></td>
                <td class="span3" ng-bind="video.videoDescription"></td>
                <td class="span1" ng-bind="video.videoViewCount"></td>
                <td class="span1" ng-bind="video.videoLikeCount"></td>
                <td class="span1" ng-bind="video.VideoDislikeCount"></td>
                <td class="span1" ng-bind="video.VideoCategory"></td>
                <td class="span1" ng-bind="video.VideoRating"></td>
                <td class="span1">
                    <a href="#" class="glyphicon glyphicon-remove" ng-click="remove(video)"></a>
                    <a class="glyphicon glyphicon-edit" data-toggle="modal" href="#editModel" ng-click="editModel(video)"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="row controls">
        <form ng-submit="addVideo()">
            <div class="span2"> <input class="input-block-level" ng-model="formData.videoID" placeholder="Video Id" type="text" name="videoID"></div>
            <div class="span2">
                <select class="input-block-level" ng-model="formData.category" name="category">
                    <option selected="selected" value="Pop">Pop</option>
                    <option value="Rock">Rock</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Classic">Classic</option>
                </select>
            </div>
            <div class="span2"> <input class="input-block-level" ng-model="formData.rating" type="number" name="rating" placeholder="Video Rating"></div>
            <div class="span2"><input type="submit" class="span2 btn btn-primary" value="Send"> </div>
        </form>
    </div>
    <div class="row">
        <div class="span12">
            <div class="nav well">
                <h2 id="message" class="text-center">   {{message}} </h2>
            </div>
        </div>
    </div>

    <!--Model to Edit the Page-->
    <div class="modal fade" id="editModel">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Edit Video</h3>
        </div>
        <div class="modal-body">
            <div class="raw">
                <div class="span6">
                    <div class="nav well">
                        <a ng-href="https://www.youtube.com/watch?v={{videoBeingEdit.videoId}}" target="_blank"><img ng-src="{{videoBeingEdit.videoImageUrl}}"></a>
                        <p>{{videoBeingEdit.videoTitle}}</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane">
                <form ng-submit="editVideo()">
                    <div class="span2">
                        <select class="input-block-level" ng-model="videoBeingEdit.VideoCategory" name="category">
                            <option selected="selected" value="Pop">Pop</option>
                            <option value="Rock">Rock</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Classic">Classic</option>
                        </select>
                    </div>
                    <div class="span2"> <input ng-bind="videoBeingEdit." class="input-block-level" ng-model="videoBeingEdit.VideoRating" type="number" name="rating" placeholder="Video Rating"></div>
                    <div class="span2"><input type="submit" class="span2 btn btn-primary" value="Save"> </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
</div>

</body>
</html>